<a href="https://colab.research.google.com/github/hafilmr/LearningCodeTrainee/blob/main/Machine%20Learning%20Methods/ML_Stocks_Classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [20]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [21]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler

In [22]:
!wget -nc https://lazyprogrammer.me/course_files/sp500sub.csv

File ‘sp500sub.csv’ already there; not retrieving.

In [23]:
df0 = pd.read_csv('sp500sub.csv',
                  index_col='Date',
                  parse_dates=True)

In [24]:
df0.head()

             Open   High    Low  Close  Adj Close     Volume  Name
Date
2010-01-04   9.22   9.51   9.17   9.50       9.50  1865400.0  INCY
2010-01-05   9.51  10.29   9.45  10.27      10.27  7608900.0  INCY
2010-01-06  10.38  11.09  10.35  11.00      11.00  8046700.0  INCY
2010-01-07  11.00  11.06  10.62  10.82      10.82  3680300.0  INCY
2010-01-08  10.82  11.00  10.75  10.94      10.94  1529300.0  INCY

In [25]:
df = df0[df0['Name'] == 'IBM'][['Close']].copy()

In [26]:
df.head()

                 Close
Date
2010-01-04  132.449997
2010-01-05  130.850006
2010-01-06  130.000000
2010-01-07  129.550003
2010-01-08  130.850006

In [27]:
df['LogClose'] = np.log(df['Close'])

In [28]:
df['LogReturn'] = df['LogClose'].diff()

In [29]:
Ntest = 252
train = df.iloc[:-Ntest]
test = df.iloc[-Ntest:]

In [42]:
# Make supervised dataset
# lets see if we can use T past values to predict the next value
series = df['LogReturn'].to_numpy()[1:] # first value is nan
target = (series > 0) * 1

T = 21
x = []
y = []
# count up to 1  less than before, since there is no target for last close
for t in range(len(series) - T):
  X = series[t:t+T]
  x.append(X)
  Y = target[t+T]
  y.append(Y)

x = np.array(x).reshape(-1, T)
y = np.array(y)
N = len(x)
print('x.shape', x.shape, 'y.shape', y.shape)

x.shape (2241, 21) y.shape (2241,)

In [43]:
xtrain, ytrain = x[:-Ntest], y[:-Ntest]
xtest, ytest = x[-Ntest:], y[-Ntest:]

### Linear Regression

In [44]:
from sklearn import preprocessing

In [45]:
lr = LogisticRegression()
lr.fit(xtrain, ytrain)
print('R2 score for Train:', lr.score(xtrain, ytrain))

R2 score for Train: 0.5093011563599799

In [46]:
print('R2 Score for Test:', lr.score(xtest, ytest))

R2 Score for Test: 0.49603174603174605

### **Support Vector Classifier (SVC)**

In [47]:
svc = SVC()
svc.fit(xtrain, ytrain)
print('Accuracy for Train:', svc.score(xtrain, ytrain))

Accuracy for Train: 0.7551533433886375

In [48]:
print('Accuracy for Test:', svc.score(xtest, ytest))

Accuracy for Test: 0.49603174603174605

### **Random Forest Classifier**

In [49]:
rf = RandomForestClassifier()
rf.fit(xtrain, ytrain)
print('Accuracy for Train:', rf.score(xtrain, ytrain))

Accuracy for Train: 1.0

In [50]:
print('Accuracy for Test:', rf.score(xtest, ytest))

Accuracy for Test: 0.4246031746031746