<a href="https://colab.research.google.com/github/hafilmr/LearningCodeTrainee/blob/main/Time%20Series%20Basics/Naive_Forecast.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
from sklearn.metrics import mean_absolute_percentage_error, mean_absolute_error, r2_score, mean_squared_error

In [ ]:
df = pd.read_csv('/content/SPY.csv', index_col='Date', parse_dates=True)
df

                  Open        High  ...   Adj Close     Volume
Date                                ...
2010-01-04  112.370003  113.389999  ...   92.246048  118944600
2010-01-05  113.260002  113.680000  ...   92.490204  111579900
2010-01-06  113.519997  113.989998  ...   92.555328  116074400
2010-01-07  113.500000  114.330002  ...   92.946060  131091100
2010-01-08  113.889999  114.620003  ...   93.255348  126402800
...                ...         ...  ...         ...        ...
2018-12-21  246.740005  249.710007  ...  234.845886  255345600
2018-12-24  239.039993  240.839996  ...  228.640564  147311600
2018-12-26  235.970001  246.179993  ...  240.192596  218485400
2018-12-27  242.570007  248.289993  ...  242.036667  186267300
2018-12-28  249.580002  251.399994  ...  241.724442  153100200

[2263 rows x 6 columns]

In [ ]:
df.head()

                  Open        High  ...  Adj Close     Volume
Date                                ...
2010-01-04  112.370003  113.389999  ...  92.246048  118944600
2010-01-05  113.260002  113.680000  ...  92.490204  111579900
2010-01-06  113.519997  113.989998  ...  92.555328  116074400
2010-01-07  113.500000  114.330002  ...  92.946060  131091100
2010-01-08  113.889999  114.620003  ...  93.255348  126402800

[5 rows x 6 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2263 entries, 2010-01-04 to 2018-12-28
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       2263 non-null   float64
 1   High       2263 non-null   float64
 2   Low        2263 non-null   float64
 3   Close      2263 non-null   float64
 4   Adj Close  2263 non-null   float64
 5   Volume     2263 non-null   int64
dtypes: float64(5), int64(1)
memory usage: 123.8 KB

In [ ]:
df['ClosePrediction'] = df['Close'].shift() #shift function is for shift index by the desired number of periods
# default is 1 index
df.head()

                  Open        High  ...     Volume  ClosePrediction
Date                                ...
2010-01-04  112.370003  113.389999  ...  118944600              NaN
2010-01-05  113.260002  113.680000  ...  111579900       113.330002
2010-01-06  113.519997  113.989998  ...  116074400       113.629997
2010-01-07  113.500000  114.330002  ...  131091100       113.709999
2010-01-08  113.889999  114.620003  ...  126402800       114.190002

[5 rows x 7 columns]

In [ ]:
y_true = df.iloc[1:]['Close']
y_pred = df.iloc[1:]['ClosePrediction']

In [ ]:
y_true

Date
2010-01-05    113.629997
2010-01-06    113.709999
2010-01-07    114.190002
2010-01-08    114.570000
2010-01-11    114.730003
                 ...
2018-12-21    240.699997
2018-12-24    234.339996
2018-12-26    246.179993
2018-12-27    248.070007
2018-12-28    247.750000
Name: Close, Length: 2262, dtype: float64

In [ ]:
y_pred

Date
2010-01-05    113.330002
2010-01-06    113.629997
2010-01-07    113.709999
2010-01-08    114.190002
2010-01-11    114.570000
                 ...
2018-12-21    247.169998
2018-12-24    240.699997
2018-12-26    234.339996
2018-12-27    246.179993
2018-12-28    248.070007
Name: ClosePrediction, Length: 2262, dtype: float64

### Metrics

Main idea: get feel for how the values relate to one antoher. Whats good? Whats bad? if the R2 is 'good', will the MAE also be 'good'?

In [ ]:
# SSE (Sum Square Error)
(y_true - y_pred).dot(y_true - y_pred)

6330.3742894926045

In [ ]:
# MSE
mean_squared_error(y_true, y_pred)

2.798573956451196

In [ ]:
# MSE again
# Dont be afraid to implement things yourself
# It should be easy (and good excercise for yout brain)
(y_true - y_pred).dot(y_true - y_pred)/len(y_true)

2.7985739564511958

In [ ]:
# RMSE
mean_squared_error(y_true, y_pred, squared=False)

1.672893886787562

In [ ]:
# RMSE Again
np.sqrt((y_true - y_pred).dot(y_true - y_pred) / len(y_true))

1.6728938867875618

In [ ]:
# MAE
mean_absolute_error(y_true, y_pred)

1.1457559803120336

In [ ]:
# R^2
# Wow what a great prediction!
# Why is it so good? Be Suspicious
r2_score(y_true, y_pred)

0.9989603259063914

In [ ]:
# MAPE
mean_absolute_percentage_error(y_true, y_pred)

0.006494073151422373

#### sMAPE

In [ ]:
#sMAPE
# Not implemented, oh well...
# Good thing we are brave and know how to implement things
def smape(y_true, y_pred):
  numerator = np.abs(y_true - y_pred)
  denominator = (np.abs(y_true) + np.abs(y_pred)) / 2
  ratio = numerator / denominator
  return ratio.mean()
smape(y_true, y_pred)

0.006491365814068418